<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magicnc="Dashboard"
        class="Dashboard"
    >
        <ul
            class="tmpID4"
            magicnc="tmpID4"
            class="tmpID4"
        >
            <li *ngFor="let row of task.Records.list">
                <div
                    *ngIf="mgIfRowCreated(row.rowId)"
                    id="row"
                >
                    <form
                        [formGroup]="mgGetFormGroupByRow(row.rowId)"
                        class="tmpID4_table_row"
                    >
                        <div
                            magicnc="tmpID5"
                            class="tmpID5"
                        >
                            <input
                                type="text"
                                magicnc="Name"
                                [rowId]="row.rowId"
                                class="Name twod_border"
                                formControlName="Name"
                            />
                            </div>
                            </form>
                            </div>
            </li>
            </ul>
            </div>
            </form>